@model ProductQueryModel

@{
    ViewData["Title"] = "Investment Diamonds";
}

<h1 style="text-align: center; font-weight: lighter; margin-bottom: 20px;">
    <span style="background-color: white; padding: 0 10px;">Investment Diamonds</span>
</h1>
<hr style="width: 80%; margin: 0 auto; border-top: 1px solid black;">

<section class="recent-products">
    <partial name="_FilterProductsPartial" model="@Model"/>
    <div class="container">
        @if (Model.Products.Any())
        {
            <div class="product-grid">
                @foreach (var product in Model.Products)
                {
                    <partial name="_ProductCard" model="@product" />
                }
            </div>
        }
        else
        {
            <h2>No investment diamonds available</h2>
        }
    </div>
</section>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    { previousPage = 1; }
    var maxPage = Math.Ceiling((double)Model.TotalProductCount / Model.ProductsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start"> <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" asp-controller="InvestmentDiamond" asp-action="All" asp-route-currentPage="@previousPage" asp-route-priceFilter="@Model.PriceFilter"><<</a> </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Products.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end"> <a class="btn btn-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)" asp-controller="InvestmentDiamond" asp-action="All" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-priceFilter="@Model.PriceFilter">></a> </div>
</div>

<style>
    .recent-products {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }

    .recent-products .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .recent-products h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 20px;
    }

    .product-card {
        background-color: #ffffff;
        border-radius: 2px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }


    .product-name {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .product-description {
        font-size: 1rem;
        color: #666666;
        margin-bottom: 10px;
    }

    .product-price {
        font-size: 1.25rem;
        font-weight: bold;
        color: #333333;
        display: block;
    }
</style>

<script>
    function navigateToDetail(productId) {
        window.location.href = '@Url.Action("Details", "InvestmentDiamond")' + '?id=' + productId;
    }
</script>