@model InvestmentDiamondDetailsServiceModel

<title>@Model.Name Details</title>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="product-image-container">
                <img src="@Model.ImagePath" alt="@Model.Name" class="product-image" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h1>@Model.Name</h1>
                <hr style="width: 100%; margin: 0 auto; border-top: 1px solid black;">
                <div class="product-info">
                    <h2>Description:</h2>
                    <div><strong>Price:</strong> @Model.Price</div>
                    <div><strong>Proportions:</strong> @Model.Proportions</div>
                    <div><strong>Carats:</strong> @Model.Carats</div>
                    <div><strong>Colour:</strong> @Model.Colour</div>
                    <div><strong>Clarity:</strong> @Model.Clarity</div>
                    <div><strong>Cut:</strong> @Model.Cut</div>
                    <div><strong>Certifying Laboratory:</strong> @Model.CertifyingLaboratory</div>
                </div>
                <div class="buy-button">
                    <form asp-area="" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id">
                        <input type="hidden" name="Id" asp-for="@Model.Id" />
                        <input type="hidden" name="ImagePath" asp-for="@Model.ImagePath" />
                        <input type="hidden" name="Name" asp-for="@Model.Name" />
                        <input type="hidden" name="Price" asp-for="@Model.Price" />
                        <button type="submit">Buy Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product-image-container {
        width: 550px;
        height: 550px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-details {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .product-details h1 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .product-info {
        margin-bottom: 20px;
    }

        .product-info h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

    .buy-button button {
        padding: 15px 30px;
        background-color: gray color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .buy-button button:hover {
            background-color: darkgray;
        }
</style>
