@model IEnumerable<ProductIndexServiceModel>

@{
    ViewData["Title"] = "Investment Coins";
}

<h1 style="text-align: center; font-weight: lighter; margin-bottom: 20px;">
    <span style="background-color: white; padding: 0 10px;">Investment Coins</span>
</h1>
<hr style="width: 80%; margin: 0 auto; border-top: 1px solid black;">

<section class="recent-products">
    <partial name="_FilterProductsPartial" />
    <div class="container">
        @if (Model.Any())
        {
            <div class="product-grid">
                @foreach (var product in Model)
                {
                    <div class="product-card" onclick="navigateToDetail(@product.Id)">
                        <img src="@product.ImagePath" alt="@product.Name" class="product-image">
                        <h3 class="product-name">@product.Name</h3>
                        <span class="product-price">@product.Price.ToString("C")</span>
                    </div>
                }
            </div>
        }
        else
        {
            <h2>No investment coins available</h2>
        }
    </div>
</section>


<style>
    .recent-products {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }

    .filter-form {
        flex: 0 0 25%;
        margin-right: 20px;
    }

    .recent-products .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .recent-products h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 20px;
    }

    .product-card {
        background-color: #ffffff;
        border-radius: 2px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .product-image {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }


    .product-name {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .product-description {
        font-size: 1rem;
        color: #666666;
        margin-bottom: 10px;
    }

    .product-price {
        font-size: 1.25rem;
        font-weight: bold;
        color: #333333;
        display: block;
    }
</style>

<script>
    function navigateToDetail(productId) {
        window.location.href = '@Url.Action("Details", "InvestmentCoin")' + '?id=' + productId;
    }
</script>
